__apps__/yarn-workspaces/_shared
__apps__/yarn-workspaces/_shared-ts
__apps__/yarn-workspaces/_shared-ui
__apps__/_shared
__apps__/_shared-ts
__apps__/_shared-ui

__apps__/npm-basic/pages
!__apps__/npm-basic/pages/.keep
__apps__/npm-basic/next-transpile-modules.js

__apps__/webpack-5/pages
!__apps__/webpack-5/pages/.keep
__apps__/webpack-5/next-transpile-modules.js

__apps__/yarn-workspaces/app/pages
!__apps__/yarn-workspaces/app/pages/.keep
__apps__/yarn-workspaces/app/next-transpile-modules.js

__apps__/pnpm/pages
!__apps__/pnpm/pages/.keep
__apps__/pnpm/next-transpile-modules.js
